<nav>
    <ul>
        <li>
            <a href="/snoeien-en-vellen">Snoeien en vellen van bomen</a>
        </li>
        <li>
            <a href="/klimwerk-bomen">Klimwerk Bomen</a>
        </li>
        <li>
            <a href="/verhakselen">Verhakselen van takken en snoeihout</a>
        </li>
        <li>
            <a href="/klieven-brandhout">Klieven van brandhout</a>
        </li>
        <li>
            <a href="/klepelmaaien">Klepelmaaien</a>
        </li>
        <li>
            <a href="/frezen-boomstronken">Frezen van boomstronken</a>
        </li>
        <li>
            <a href="/stormschade">Opruimen van stormschade</a>
        </li>
    </ul>
</nav>