<footer>
    <div class="footer-contact">
      <h3>Contacteer ons</h3>
      <p>
        Dennenlaan 51<br />
        2560 Nijlen<br />
        Antwerpen - België<br />
        <a href="https://www.google.pl/maps/dir//Dennenlaan+51,+2560+Nijlen/@51.1670123,4.6969391,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47c1567790759665:0xa7d9f0c573a6db50!2m2!1d4.699514!2d51.167009?entry=ttu&g_ep=EgoyMDI1MDQwOS4wIKXMDSoASAFQAw%3D%3D">Route</a><br />
        <br />
        Gsm: <a href="tel:+32479671595">0479 67 15 95</a><br />
        <a href="mailto:davegorremans@hotmail.be">davegorremans@hotmail.be</a><br />
        BTW BE0689947439
      </p>
    </div>
    <div id="map"></div>
    <script>
      var map = L.map("map").setView(
        [51.167116612301605, 4.6995247256329815],
        16
      );
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);
      var marker = L.marker([51.167116612301605, 4.6995247256329815]).addTo(map);
    </script>
  </footer>
  