<header>
   <img src="/assets/logo-Snoeiwerken-Gorremans.png" alt="logo snoeiwerken gorremans">
    <nav>
        <ul>
            <li>
                <a href="views/index.ejs">Home</a>
            </li>
            <li>
                <a href="views/contact.ejs">Contact</a>
            </li>
        </ul>
    </nav>
</header>