<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snoeiwerken Gorremans | Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <%- include("partials/header") %>
    <%- include("partials/aside") %>
    <main class="contact-container">
        <section class="contact-intro">
          <h1>Neem contact op!</h1>
          <p>
            Van klimwerk in bomen over het opruimen van stormschade en het frezen van boomstronken tot bomen snoeien:
            in Nijlen en omgeving kunt u deze klussen probleemloos overlaten aan <strong>Snoeiwerken Gorremans</strong>.
            U bent sowieso verzekerd van een voortreffelijke service.
          </p>
          <p class="subtitle">Vraag meer informatie</p>
          <p>
            Heeft u nog een of meerdere vragen of wilt u graag wat extra informatie over de uitgebreide diensten van uw expert?
            Aarzel dan zeker niet om snel even contact op te nemen. Zo kan er meteen ook voor een gratis en vrijblijvende offerte worden gezorgd.
          </p>
        </section>
      
        <section class="contact-form-section">
          <form action="mmailto:davegorremans@hotmail.be" method="post" enctype="text/plain" class="contact-form">
            <label for="name">Naam *</label>
            <input type="text" id="name" name="Naam" required>
      
            <label for="address">Adres</label>
            <input type="text" id="address" name="Adres">
      
            <label for="email">E-mailadres *</label>
            <input type="email" id="email" name="E-mail" required>
      
            <label for="phone">Telefoonnummer *</label>
            <input type="tel" id="phone" name="Telefoonnummer" required>
      
            <label for="message">Bericht *</label>
            <textarea id="message" name="Bericht" rows="6" required></textarea>
      
            <button type="submit">Verstuur bericht</button>
          </form>
        </section>
      </main>   
      <%- include("partials/footer") %> 
</body>
</html>