<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snoeiwerken Gorremans | Home</title>
</head>
<body>
    <header>
        <a href="/views/index.ejs"><img src="/assets/logo-Snoeiwerken-Gorremans.png" alt="logo snoeiwerken gorremans"></a>
    </header>
</body>
</html>