<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snoeiwerken Gorremans | Home</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <section>
            <h1>Perfect onderhoud van bomen en struiken</h1>
            <a href="./contact"><button>Contacteer ons</button></a>

        </section>
    </main>
</body>
</html>