<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snoeiwerken Gorremans | Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <section>
            <h1>Perfect onderhoud van bomen en struiken</h1>
        </section>
        <section class="slideshow-container">
            <!-- Slide 1 -->
            <article class="mySlides fade">
                <img src="/assets/slideshow1.jpg" alt="Afbeelding 1">
                <div class="text">Klimwerk bomen</div>
            </article>
            <!-- Slide 2 -->
            <article class="mySlides fade">
                <img src="/assets/slideshow2.jpg" alt="Afbeelding 2">
                <div class="text">Verhakselen van takken en snoeihout</div>
            </article>
            <!-- Slide 3 -->
            <article class="mySlides fade">
                <img src="/assets/slideshow3.jpg" alt="Afbeelding 3">
                <div class="text">Snoeien en vellen van bomen</div>
            </article>
            <!-- Slide 4 -->
            <article class="mySlides fade">
                <img src="/assets/slideshow4.jpg" alt="Afbeelding 4">
                <div class="text">Frezen van boomstronken</div>
            </article>
        </section>
        <script src="/js/index.js"></script>
        <div class="profile-about-wrapper">
            <img id="profilePicture" src="assets/slideshow1.jpg" alt="foto van gorremans dave">
            <section class="about">
                <article>
                    <h1>Snoeiwerken Gorremans</h1>
                    <h2>Voor een prachtige tuin in Nijlen en omgeving</h2>
                </article>
                <article>
                    <p>Iedereen wil graag een perfect onderhouden tuin, inclusief mooi bijgehouden struiken en bomen. 
                        Dat is dankzij Snoeiwerken Gorremans geen enkel probleem. 
                        Zelfwerkend zaakvoerder Dave heeft intussen al meer dan twintig jaar ervaring in alle mogelijke snoeiwerken in Nijlen 
                        en de rest van de provincie Antwerpen.</p>
                </article>
                <article>
                    <h3>Stipte en correcte service</h3>
                    <p>Hij biedt dan ook een heel uitgebreid takenpakket aan, met onder andere het vellen van bomen, 
                        het klimwerk in bomen, het verhakselen van takken, het opruimen na stormschade, 
                        het frezen van boomstronken, het klieven van brandhout, klepelmaaien en dakontmossingen.
                        U merkt het, hij is van alle markten thuis als het over snoeiwerken en tuinonderhoud gaat. 
                        Achteraf wordt steeds alles netjes opgeruimd. En u kunt rekenen op stipte afspraken en een correcte service. 
                        U zult zo nog meer kunnen genieten van uw tuin.</p>
                </article>      
            </section>
        </div>
        <article class="make-appointment">
            <h3>Maak meteen een afspraak</h3>
            <p>Bent u al helemaal overtuigd over de diensten van Snoeiwerken Gorremans in Nijlen en omgeving? Maak dan een afspraak, 
                deze expert komt graag een kijkje ter plaatse nemen en stelt probleemloos een gratis en vrijblijvende offerte op. 
                Bomen snoeien is nu eenmaal zijn passie.</p>
            <div class="contact-icons">
                <a href="./contact"><button>Contacteer ons</button></a>
                <i class="bi bi-facebook"></i>
            </div>
        </article>        
    </main>
    <a href="#" id="backToTop">
        <i class="bi bi-arrow-up-circle"></i>
    </a>
</body>
</html>
