<header>
   <img src="/assets/logo-Snoeiwerken-Gorremans.png" alt="logo snoeiwerken gorremans">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <p>|</p>
            </li>
            <li>
                <a href="./contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="menu-toggle">
        <button id="menuButton">☰</button> <!-- Hamburger menu knop -->
    </div>
</header>